input {
    width: 60px;
}

button {.
    margin: 2px;
}

#random {
    background-color: #333333;
    color: #ffffff;
}
#number {
    background-color: #ffb3e6;
}
#plus {
    background-color: #b3b3b3;
    color: #fff;
}

.range {
    width: 8%;
}

.newDiv {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
}

.newimg {
  width:auto;
  height:auto;
  position: absolute;
  left:0;
  right:0;
  margin:auto;
}